
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Inter:wght@200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}

body {
  background-color: #08142f;
}

/* Style header*/

#id-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #050521;
  height: 80px;
}

#id-header .Name {
  color: #ffffff;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  margin-left: 3.3rem;
}

#id-header .Linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin-right: 4.8rem;
  
}

.Linkedin h1 {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 6.3rem;
  margin-bottom: 2.5px;
}

/* Style Welcome*/

#id-welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 200px 101px;
  height: 822px;
}

#id-welcome .HiText {
  width: 810px;
  height: 259px;
}

.HiText span {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13.4ch;
  animation: typing 2s steps(14),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

#id-welcome .Welcome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.01em;

  color: #6ca3e1;
}

#id-welcome .WelcomesubText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.01em;

  color: #6ca3e1;
}



#id-welcome .WhoAmI {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  margin-top: 3rem;
  color: #c6ccdf;
}

#id-welcome .Decoration {
  width: 738px;
  height: 475px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: rgba(189, 189, 189, 0.1);
}

/* Style About Me*/

#id-aboutMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 120px;
  gap: 10px;

  height: 600px;
}

#id-aboutMe .AboutMeContainer {
  width: 1199px;
  height: 555px;
}

.SectionName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

#id-aboutMe .Introduction,
.IntroductionList,
.SkillList,
.OutroIntro {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  margin: 2rem;
  color: #c6ccdf;
  list-style: none;
}

#id-aboutMe .SkillList li::before {
  content: "▹    ";
  color: #6CA3E1;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#id-aboutMe .Introduction .Link {
  color: #6CA3E1;
  text-decoration: none;
  font-weight: bold;
}

#id-aboutMe .Link:hover {
  color: #C6CCDF;
}

#id-aboutMe .SkillList {
  margin-left: 4rem;
}

/* Style About Me*/

#id-experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 120px;
  gap: 10px;

  height: 600px;
}

#id-experience .ExperienceContainer {
  width: 1188.24px;
  height: 366px;
}

#id-experience .JobTitle,
.YearWorking,
.WorkTasks {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  margin: 2rem;
  color: #c6ccdf;
}

#id-experience .WorkTasks {
  margin-left: 4rem;
  list-style: none;
}

#id-experience .WorkTasks li::before {
  content: "▹";
  color: #6CA3E1;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Style Navegation*/

#id-navegation {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 28px;
  gap: 10px;

  width: 165px;
  height: 196px;

  position: fixed;
  top: 88%;
  right: 0;
  transform: translateY(-50%);
}

#id-navegation .NavegationContainer {
  width: 79px;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.NavegationContainer img {
  width: 21px;
  height: 21px;
}

.NavegationContainer img:hover {
  filter: brightness(0) saturate(100%) invert(90%) sepia(5%) saturate(994%) hue-rotate(192deg) brightness(91%) contrast(92%);}

.NavegationContainer .SectionsName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  text-align: right;
  color: #6ca3e1;
}

.NavegationContainer .SectionsName:hover{
  color: #C6CCDF;
}



/* Style Projects*/

#id-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 120px;
  gap: 10px;
  height: 757px;
}

#id-projects .ProjectsContainer {
  width: 1420px;
  height: 597px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.ProjectsContainer .Introduction {
  width: 1096px;
  height: 54px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  margin-left: 3.2rem;
  color: #c6ccdf;
}

#id-projects .ProjectsContainer .ProjectsCardsContainer {
  width: 1420px;
  height: 389px;
  display: flex;
  gap: 4rem;
}

#id-card {
  margin-top: 3.7rem;
  width: 307px;
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #15223e;
  border-radius: 32px;
}

#id-card .CardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 248px;
  height: 307px;
}

#id-card .ImgCardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 248px;
  height: 25px;
}

#id-card .ProjectTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 244px;
  height: 266px;
}

.CardContainer .ProjectCardTitle {
  width: 244px;
  height: 58px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.ProjectTextContainer .ProjectCardDescription {
  width: 244px;
  height: 154px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #c6ccdf;
}

.ProjectTextContainer .ProjectCardFooter {
  width: 244px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;

  color: rgba(198, 204, 223, 0.6);
}

/* Style footer */
#id-footer {
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#id-footer .FooterContainer {
  height: 51px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.FooterContainer .FooterName {
  height: 34px;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #6ca3e1;
}

.FooterContainer .GoodbyeMessage {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #c6ccdf;
}

/*ANIMATIONS*/

@keyframes typing {
  from  {width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}