#id-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 120px;
    gap: 10px;
  }
  
  .ProjectsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* .Introduction {
    width: 100%;
    font-family: "Inconsolata";
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    margin-left: 3.2rem;
    color: #c6ccdf;
  } */
  
  .ProjectsCardsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .ProjectCard {
    width: 307px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #15223e;
    border-radius: 32px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "Inter";
  }
  
  .ProjectCard .folder-icon {
    font-size: 35px;
  }
  
  .ProjectCard .ProjectCardTitle {
    font-size: 24px;
    line-height: 29px;
    margin-top: 10px;
  }
  
  .ProjectCard .ProjectCardDescription {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
  }
  
  .ProjectCard .ProjectCardFooter {
    font-size: 10px;
    line-height: 22px;
    margin-top: 10px;
    color: rgba(198, 204, 223, 0.6);
  }
  